.m-container {
  background-color: #152850;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.logout-button {
  height: 40px;
  width: 120px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading {
  color: #ffffff;
  font-family: 'Roboto';
}

.digital-card {
  width: 650px;
}
